/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

main {
  min-height: 80vh;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.blocked-content {
  margin-top: 60px; /* Adjust the margin-top value to match the height of your navigation bar */
}

/* ProductCarousel.css */
.supercheap-carousel {
  background-color: #fff; /* Set the background color to white */
}

.carousel-content {
  padding: 20px;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Add a semi-transparent black background */
  border-radius: 10px;
}

.text-white {
  color: #fff; /* Set text color to white */
}

.shop-button {
  background-color: #ff3666; /* Customize the shop button background color */
}

.search-input-container {
  width: 600px;
}

.search-input {
  font-size: 18px;
  padding: 10px 15px;
}

.navbar {
  background-color: #076ae1;
  /* color: #fff; */
}

.navbar .nav-link {
  color: #fff;
}

.logo {
  width: 20%;
}

.intro {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer {
  padding-top: 20px;
  /* padding-bottom: 20px; */
  background-color: #076ae1;
  color: #fff;
}

.footer-bottom {
  background-color: rgb(11, 57, 110);
}

/* HomePage.css */
.product-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05); /* Increase card size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}

/* HomePage.css */
.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card-image {
  height: 200px;
  overflow: hidden;
}

.product-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card .card-body {
  padding: 1rem;
}

.product-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-card .card-text {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.product-card .btn-primary {
  background-color: #076ae1;
  border-color: #076ae1;
  color: #fff;
}

.product-card .btn-primary:hover {
  background-color: #076ae1;
  border-color: #076ae1;
}
